{% capture name %}{{ page.redirect_from | replace: '/', '' }}{% endcapture %}

<center>
<h3 id="value4value"><a href="{{ '/support' | absolute_url }}" title="Value4Value">{% include heart.html %}</a></h3>
  <small>
    Found this valuable?
  </small>
  <div class="action-buttons">
    <div class="button button-transparent button-small button-wide">
      <a> Give Value Back
        <br>
	<div>
<style> .btcpay-form { display: inline-flex; align-items: center; justify-content: center; } .btcpay-form--inline { flex-direction: row; } .btcpay-form--block { flex-direction: column; } .btcpay-form--inline .submit { m>
<form method="POST" action="https://btcpay.whiterabbit21m.com/api/v1/invoices" class="btcpay-form btcpay-form--block">
  <input type="hidden" name="storeId" value="6qLXuo76ZUGV7NfKHQQC2xBVeH69ebKT2axvhjb3WQYn" />
  <input type="hidden" name="orderId" value="V4V-{{ name }}" />
  <input type="hidden" name="checkoutDesc" value="Value for Value: Give as much as it is worth to you" />
  <input type="hidden" name="browserRedirect" value="https://www.whiterabbit21m.org/thankyou" />
  <div class="btcpay-custom-container">
    <div class="btcpay-custom">
      <input class="btcpay-input-price" type="number" name="price" min="1" max="100000000" step="1" value="1" data-price="1" style="width:3em;" />
    </div>
    <select name="currency">
      <option value="USD" selected>USD</option>
      <option value="GBP">GBP</option>
      <option value="EUR">EUR</option>
      <option value="SATS">SATS</option>
    </select>
  </div>
  <button type="image" class="btcpay-submit" name="submit">
      <span>{{ include.text }}${{ include.amount }}</span>
  </button>
</form>
        </div>
      </a>
    </div>
  </div>
  <small>
    Confused? <a href="{{ '/value' | absolute_url }}">Learn more</a> about the
    V4V concept.
  </small>
</center>
