{% capture name %}{{ page.redirect_from | replace: '/', '' }}{% endcapture %}

<center>
<h3 id="value4value"><a href="{{ '/support' | absolute_url }}" title="Value4Value">{% include heart.html %}</a></h3>
  <small>
    Found this valuable?
  </small>
  <div class="action-buttons">
    <div class="button button-transparent button-small button-wide">
      <a> Give Value Back
        <br>
	<div>
 	  <form method="POST" action="https://btcpay.whiterabbit21m.com/api/v1/invoices" target="_blank" class="btcpay-form btcpay-form--block">
   	    <input type="hidden" name="storeId" value="6qLXuo76ZUGV7NfKHQQC2xBVeH69ebKT2axvhjb3WQYn" />
            <input class="btcpay-input-price" type="number" name="price" min="1" max="100000000" step="1" value="1" data-price="1" style="width:3em;" />
            <input type="hidden" name="currency" value="USD" />
            <button type="submit" class="btcpay-submit" name="submit">
              <span>{{ include.text }}${{ include.amount }}</span>
            </button>
          </form>
        </div>
      </a>
    </div>
  </div>
  <small>
    Confused? <a href="{{ '/value' | absolute_url }}">Learn more</a> about the
    V4V concept.
  </small>
</center>
