{% capture name %}{{ page.redirect_from | replace: '/', '' }}{% endcapture %}
{% if include.chapter %}{% assign chapter = include.chapter %}{% endif %}

<hr/>

<center>
  <small>
    Found this valuable? <a href="{{ '/support' | absolute_url }}"><i class="fa-solid fa-circle-info"></i></a>
  </small>
  <div class="action-buttons">
    <div class="button button-transparent button-small button-wide">
      <a href="{{ '/support' | absolute_url }}">
        Give Value Back
      </a>
    </div>
    <small class="lightning-address">
      <a href="{{ '/support#lightning' | absolute_url }}">
      ⚡ whiterabbit21m@21m.tips
      </a>
    </small>
  </div>
</center>

<hr/>
