.site-footer {
  background-color: #333;
  color: #fff;
  padding: 50px 0; // Aumentato il padding
  font-size: 1.1em; // Aumentato leggermente la dimensione del testo
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; // Per gestire meglio il layout su schermi più piccoli
  }

  .copyright {
    margin-bottom: 20px; // Spazio aggiuntivo sotto il copyright
  }

  .social-icons {
    a {
      color: #fff;
      font-size: 28px; // Icone più grandi
      margin-left: 20px; // Più spazio tra le icone
      transition: color 0.3s ease;

      &:hover {
        color: #2ecc71; // Colore al passaggio del mouse
      }

      &:first-child {
        margin-left: 0; // Rimuove il margine dal primo elemento
      }
    }
  }
}

// Media query per rendere il footer responsive
@media (max-width: 768px) {
  .site-footer {
    .footer-content {
      flex-direction: column;
      text-align: center;
    }

    .social-icons {
      margin-top: 20px;

      a {
        margin: 0 10px;
      }
    }
  }
}
