// File: _sass/_header.scss

.site-header {
  background-color: #333; // Colore scuro per l'header
  padding: 15px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    img {
      max-height: 50px; // Regola l'altezza del logo secondo le tue necessità
    }
  }

  .main-nav {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;

      li {
        margin-left: 20px;

        a {
          color: white;
          text-decoration: none;
          font-weight: bold;
          transition: color 0.3s ease;

          &:hover {
            color: #ddd; // Colore più chiaro al passaggio del mouse
          }
        }
      }
    }
  }
}

// Stili responsive per schermi più piccoli
@media (max-width: 768px) {
  .site-header {
    .container {
      flex-direction: column;
    }

    .logo {
      margin-bottom: 15px;
    }

    .main-nav ul {
      flex-direction: column;
      align-items: center;

      li {
        margin: 10px 0;
      }
    }
  }
}
